.container-img{
    
    width: 100%;
   img{
       width: 100%;
       height: 200px;
       object-fit: cover;
       object-position: center;
   }

    
}

.order-box{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}