.aside {
    background-color: rgb(1, 1, 155);

    .title { color:white;
            padding: 25px 0;
            border-bottom: 1px solid white;
            margin-bottom: 30px;
             }

    a { 

        
        color: #accae3;
    }
}

.page-admin{
    background-color: white;
}