.navbar {
    background-color: #efedee!important;
    box-shadow: 3px 5px 3px #020202;
    
}

.navbar-light .navbar-brand {
    font-size: 35px;
    font-weight:900 !important;
    text-shadow: 2px 2px 2px #e9ae2f;
    color:#00d0ff;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(241, 185, 101, 0.9)!important;
}